.blog-options{
    text-align: left;
    color: rgb(54, 54, 54);
}

.blog-options label{
    font-size: 0.8em;
    color: midnightblue;
    margin-left: 1em;
}
.blog-options select{
    font-size: 0.8em;
    border: none;
    border-bottom: 1px solid midnightblue;
}
.blog-options label:after{
    content: ': ';
}
/*>>pagination>>*/
.blog-pagination {
    font-size: 0.9em;
    text-align: left;
    display: inline-block;
}
.pl_text {
    text-align: right;
    width: 50%;
    margin-bottom: 1em;
    display: inline-block;
}
.blog-pagination span.p_btn {
    color: darkorange;
    cursor: pointer;
    font-family: Serif;
    text-decoration: none;
}
.blog-pagination span.p_btn.prev::before {
    content: "«";
}
.blog-pagination span.p_btn.next::after {
    content: "»";
}
.blog-pagination span.p_btn.active {
    color: darkgrey;
    cursor: default;
}
span.p_num {
    color: black;
    padding: 0.2em;
    font-size: 0.8em;
    background-color: darkorange;
    margin: 0.2em;
    border-radius: 0.1em;
    text-decoration: none;
    cursor: pointer;
}
span.p_num.active {
    font-size: 1em;
    color: white;
    background-color: darkgrey;
    cursor: default;
}
.pl_text span {
    color: gray;
}
span.found_label{
    display: inline;
    color: darkgreen;

}
span.found_label span{
    font-weight: bold;
    color: midnightblue;
}
/*<<pagination<<*/
.blog-sort {
    display: inline-block;
}
.blog-count{
    display: inline-block;
    margin-right: 1em;
}
.blog-view-options{
    display: inline-block;
}