.blog-filter{
    margin-top: 1em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-bottom: 2px solid silver;
    background-color: rgb(250, 250, 210);
}

.blog-filter .blog-filter-cat{
    display: inline-block;
    width: 50%;
    text-align: left;
}
.blog-filter .blog-filter-cat label{
    margin-left: 0.5em;
    font-size: 0.9em;
    color: midnightblue;
}
.blog-filter .blog-filter-cat label:after{
    content: ": ";
}

.blog-filter .blog-filter-cat select{

}

.blog-filter .blog-filter-artName{
    display: inline-block;
    width: 50%;
    text-align: right;
}
.blog-filter .blog-filter-artName button{
    font-size: 1em;
    vertical-align: bottom;
    margin-left: 0.2em;
    margin-right: 0.2em;
    border-radius: 0.2em;
}
.blog-filter .blog-filter-artName button img{
    height: 1.3em;
    width: 1.3em;
    vertical-align: middle;
}
.blog-filter .blog-filter-tags{
    border: 1px solid darkorange;
    display: inline-block;
    width: 100%;
}

.blog-filter input, .blog-filter select{
    font-size: 1em;
}