.example-code{
    font-family: Arial;
    padding: 0.1em;
    background-color: midnightblue;
    color: silver;
    border-bottom: 1px dotted darkgray;
    overflow: hidden;
}
.example-text{
    padding: 0.1em;
    font-size: 0.9em;
    background-color: silver;
    color: midnightblue;
}
.example.eximg{
    margin-bottom: 1em;
}
.example-img{
    text-align: center;
    background-color: lightyellow;
}
.example-img img{
    max-width:calc(100% - 1em);
    padding: 0.5em;
}

span.ex-conf{
    font-weight: bold;
}

a.dwl-img-link{

}
a.dwl-img-link img{
    height: 1.5em;
    width: 1.5em;
}

section.prod-deploy{
    margin-bottom: 2em;
}