.detail-record-frame{
    width: 100%;
    background-color: lightgray;
    text-align: left;
}

.detail-record-frame h2{
    font-size: 1em;
    background-color: midnightblue;
    margin: 0;
    padding: 0;
    text-align: center;
}
.detail-record-frame h2 a{
    color: silver;
}
.input-line{
    vertical-align: top;
    display: inline-block;
    width: 48%;
    margin: 0.2em 1%;
    text-align: left;
}
.input-line label{
    color: midnightblue;
    text-align: right;
    width: 19%;
    display: inline-block;
    padding-right: 1%;
    font-size: 0.8em;
    font-family: "Mona Sans", system-ui, sans-serif;
}

.input-line.wd100
{
    width: 98%;
}
.input-line.wd100 label
{
    width: 98%;
    text-align: left;
}