.tracks-list{
    width: 98%;
    margin: 1em 1% 2em 1%;
}
.tracks-list .track-line{
    width: 100%;
    display: inline-block;
    border-bottom: 1px solid silver;
    color: midnightblue;
    padding: 0.1em;

}
.tracks-list .track-line .track-num{
    display: inline-block;
    width: 10%;
    border-right: 1px solid silver;
    border-left: 1px solid silver;
}
.tracks-list .track-line .track-name{
    border-right: 1px solid silver;
    display: inline-block;
    width: 59%;
}
.tracks-list .track-line .track-name a{
    text-decoration: none;
    color: midnightblue;
}
.tracks-list .track-line .track-play{
    border-right: 1px solid silver;
    display: inline-block;
    width: 10%;
}
.tracks-list .track-line .track-artist{
    border-right: 1px solid silver;
    display: inline-block;
    width: 20%;
}
.tracks-list .track-line .track-play input[type=button]{
    vertical-align: middle;
    font-size: 0.8em;
}
.ac-wrap {
    width: 98%;
    margin: 1em 1%;
}

.track-line.caption{
    background-color: midnightblue;
    color: silver;
}
.ac-wrap{
    text-align: center;
}


@media only screen and (max-width : 960px) and (orientation:portrait)  {
    .tracks-list .track-line .track-name{
        border-right: 1px solid silver;
        display: inline-block;
        width: 78%;
    }
    .tracks-list .track-line .track-artist{
        display: none;
    }
}