.pp-user-info{
    /*
    background-color: lightgoldenrodyellow;
    text-align: left;
    margin-top: 1em;
    padding: 0.5em 0;

     */
}

.pp-user-menu a{
  /*
    color: midnightblue;
    margin-right: 1em;

   */
}